body {
  text-align: center;
  background-color: #222;
  color: white;
  font-family: sans-serif;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* 2 kolumny */
  grid-template-rows: repeat(3, auto);    /* 3 wiersze */
  gap: 15px;
  max-width: 400px;    /* żeby ładnie wyglądało na telefonie */
  margin: 30px auto;
  padding: 10px;
}


button {
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.red { background: #e74c3c; }
.green { background: #2ecc71; }
.blue { background: #3498db; }
.yellow { background: #f1c40f; color: black; }
.orange { background: #e67e22; }
.purple { background: #9b59b6; }

button:active {
  transform: scale(0.95);
  opacity: 0.8;
}
